@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
#accordian {
	background: #423C40;
	width: 450px;
	margin: 0 auto;
	color: white;
	/*Some cool shadow and glow effect*/
}
/*heading styles*/
#accordian h4 {
	font-size: 27px;
	font-weight:bold;
	font-family: 'Lato';
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	background: #423C40; /**/
}
/*heading hover effect*/
#accordian h4:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordion-body p{
	font-size:18px;
	font-family:'Lato';
	font-weight:bold;
	line-height: 14px;
	padding-left: 5px;
}

#accordian ul {
	background: #423C40;
	padding-left: 12px;
}
/*list items*/
#accordian li {
	list-style-type: none;
	margin-bottom: -10px;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}