@import url('reset.css');
body{
	
	color:#000;
	font-family:'Georgia', 'Trebuchet MS', serif;
	font-size:12px;
	height: 100%;
	width:100%;
}
a{
	color:#000;
	text-decoration:none;
}


.hero{

	background-image: url("../images/wallpaper.png");
	background-repeat: no-repeat;
	
	background-size: 100% 100%;
	padding-left:10px;
	padding-right:10px;
}
.profile{
  display: block;
  width: 250px;
  height: 250px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-top: 10px;  

}
.clr{
	clear:both;
}
.container {
	width:100%;
	position:relative;
	z-index:100;
	margin:0 auto;
}
.header{
	padding-top:40px;
}
.content {
	width:1000px;
	margin:0 auto;
}
h1{
	margin:10px 0 0px 20px;
	font-size:80px;
	color:#000;
	text-shadow:1px 1px 1px #fff;
	font-family: 'Wire One', arial, serif; 
}
h1 span{
	font-size:22px;
	text-transform:uppercase;
}
.more ul{
	text-transform:uppercase;
	font-size:13px;
	padding:50px 0px 30px 20px;
	height:30px;
	clear:both;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	width:830px;
	margin:0 auto;
}
.more ul li{
	float:left;
	margin:0px 2px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.more ul li a{
	text-shadow:1px 1px 1px #fff;
	color:#555;
	background:#f7f7f7;
	padding:3px 6px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.content{
	width:100%;
	position:relative;
}

section{
	height: 100%;
	width: 100%;
	padding-top: 25%;
	padding-bottom:25%;

}

#about{

	background-color: #37c5e9;
}

#experiences{

	background-color: #ff395e;
}

#interests{
	background-color: #57e676;
}

#projects{
	background-color: #d869b2;
}

#contact{
	background-color: #ffdd3f;
}