@font-face {
  font-family: 'Klavika';
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://download.socialfonts.co.uk/fontface/fonts/facebook/klavika-bold/klavika-bold.woff) format('woff');
}
.nav-bar {
  width:1440px;
  height:42px;
  display:block;
  background-color:#4c66a4;
  position:absolute;
  top:0;left:0;
}

input{
  height:32px;
  width:640px;
  margin-top:3px;
  margin-left:10%;
  background-color:#4c66a4;
  border:none;
  font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size:1.2em;
  font-weight:300;
  color:white;
  line-height:24px;
  position:relative;
  display:inline-block;
}
::-webkit-input-placeholder {
    color: #cdd9f1;
}
:-moz-placeholder {
    color: #cdd9f1;
}
::-moz-placeholder {
    color: #cdd9f1;
}
:-ms-input-placeholder {
    color: #cdd9f1;
}
input:focus{
  outline:none;
  content:"";
}
:focus::-webkit-input-placeholder { 
  color: #6779bc; 
  text-shadow:0 -1px 0 rgba(0, 0, 0, .2);
  font-size:1em;
}

#icon{
  width:21px;
  height:21px;
  position:relative;
  top:5%;
  left:9.6%;
  z-index:2;
  border-box:1px solid black;
  background:white;
  border-radius:3px;
  padding-right:2px;
  text-align:right;
  font-size:1.4em;
  font-family: Klavika, 'lucida grande', 'lucida sans', sans-serif; 
  font-weight:bold;
  overflow:hidden;
  color:#4c66a4;
  display:inline-block;
}
#search{
  background:url('http://mikereca.co/img/search2.png');
  background-repeat:no-repeat;
  width:25px;
  height:21px;
  position:relative;
  display:inline-block;
  left:7.4%;
  top:7%;
  z-index:0;
  opacity:1;
}